.filter-container {
  margin: 28px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: #A8B0D3;
}

.filter-container label {
  user-select: none;
}

.filter-container select {
  background: #222238;
  border: none;
  border-radius: 16px;
  
  padding: 10px 18px;
  font-size: 0.9rem;
  color: #E0E6F1;
  cursor: pointer;
  box-shadow:
    inset 3px 3px 6px #1A1A2B,
    inset -3px -3px 6px #2E2E44;
  transition: box-shadow 0.3s ease;
}

.filter-container select:hover {
  box-shadow:
    0 0 8px 2px #0D6EFD,
    inset 3px 3px 6px #1A1A2B,
    inset -3px -3px 6px #2E2E44;
}
